<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <!-- ********* get 요청 ********* -->
    <h1>로그인</h1>
    <!-- form 전송은 클라이언트가 서버로 데이터를 보내는 방법 중 하나 -->
    <!-- action : 요청을 보낼 주소(내 서버에 보낸다는 가정 하에 도메인을 뗀 나머지 주소) -->
    <!-- ex) localhost:8000/get 이라는 곳으로 보내고 싶다면 action="/get" -->
    <!-- method : 어떤 방식의 요청을 사용할 지 (get or post) -->
    <!-- get  -->
    <form action="/get" method="get" target="_blank" name="login">
      <fieldset>
        <legend>로그인 정보</legend>
        <input type="text" name="id" placeholder="ID" />
        <input type="password" name="pw" placeholder="PW" />
      </fieldset>
      <input type="radio" name="gender" value="남자" id="men" /> <label for="men">남자</label>
      <input type="radio" name="gender" value="여자" id="women" /> <label for="women">여자</label>
      <!-- button type="submit"인 경우, 버튼을 감싸고 있는 form 태그의 정보에 맞게 form을 제출함 -->
      <button type="submit">제출</button>
    </form>

    <h1>회원가입 get 요청</h1>
    <form action="/signup" method="get">
      <input type="text" name="id" />
      <input type="password" name="pw" />
      <input type="text" name="name" />
      <input type="text" name="email">
      <button type="submit">제출</button>
    </form>

    <!-- ********* post 요청 ********* -->
    <h1>회원가입 post 요청</h1>
    <form action="/post/ver2" method="post">
      <input type="text" name="id" placeholder="ID" />
      <input type="password" name="pw" placeholder="PW" />
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="email" placeholder="email" />
      <button type="submit">제출</button>
    </form>

    <script>
      console.dir(document.forms["login"])
      console.log(document.forms["login"])
    </script>
  </body>
</html>