body {
    margin: 0;
}

.box {
    /* static : 기본값 */
    /* position: static; */
    width: 100px;
    height: 100px;
}

.sm-box {
    width: 50px;
    height: 50px;
}

.box-red {
    position: absolute;
    background-color: red;
    top: 20px;
    left: 20px;
}

/* relative : 원래 위치를 기준으로 */
.box-orange {
    background-color: orange;
    position: relative;
    /* bottom : 20px; (음수값도 사용한다)*/
    /* left: 20px; */
    top: 20px;
    right: 20px;
}

.box-yellow {
    position: absolute;
    background-color: yellow;
}

/* absolute : position이 있는 상위 요소 기준으로 배치 */
.box-green {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: green;
}

/* 
    position만 쓰면 위치가 이동하지 않는다.
    top, left, right, bottom을 줘야 이동한다.
*/

/* fixed : 뷰포트(브라우저)를 기준으로 배치 주로 내부바에 많이 사용된다 */
.fixed {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: blue;
}

.container {
    position: relative;
    height: 200px;
    background-color: blue;
}

.item-1 {
    background-color: red;
    position: relative;
    left: 50px;
    top: 30px;
}

.item-2 {
    background-color: orange;
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.item-3 {
    background-color: green;
    position: fixed;
    top: 100px;
    right: 100px;
}

.item {
    position: absolute;
    width: 100px;
    height: 100px;
}

/* z-index가 클수록 위에 온다 */
.red {
    background-color: red;
    z-index: 1;
}

.orange {
    background-color: orange;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.yellow {
    background-color: yellow;
    top: 40px;
    left: 40px;
}

.block {
    position: relative;
    top: 20px;
    left: 20px;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle-1 {
    background-color: rgb(60, 112, 201);
}

.circle-2 {
    background-color: rgb(14, 65, 152);
    top: 30px;
    left: 70px;
    
}

.circle-3 {
    background-color: rgb(88, 60, 201);
    top: 60px;
    left: 110px;
}

.circle-4 {
    background-color: rgb(107, 155, 239);
    top: 55px;
    left: 150px;
}

.circle-5 {
    background-color: rgb(21, 49, 190);
    top: 53px;
    left: 200px;
}

.s-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    top: 20px;
    left: 20px;
}

.xs-circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    top: 5px;
}

.image {
    position: absolute;
    width: 500px;
    top: 80px;
}