.container {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .container{
        flex-direction: column;
    }
    
    .box {
        background-color: skyblue;
        border: 1px solid red;
    }
}